{% extends 'aplicacion/base.html' %}
{% load static %}
{% block titulo %} Carrera {% endblock titulo %}
{% block cabecera %} Carrera {% endblock cabecera %}
{% block contenido %}
<table>
    <tr>
        <td><h2>Carrera</h2></td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Etapa</th>
            <th>Km</th>  
            <th>Tipo</th>  
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.nombre }}</td>
            <td>{{ object.etapa }}</td>
            <td>{{ object.km }}</td>
            <td>{{ object.tipo }}</td>

        <tr>
    <tbody>
</table> 
<a
href="{% url 'carreras' %}"
class="btn btn-danger"
style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
><i class="fa fa-search fa-sm" title="List Back">Volver</i>
</a>   
{% endblock contenido %}